[Unit]
Description=Lightweight, portable job scheduler
Documentation=man:lpjs_compd(8)
After=network.target
After=time-sync.target

[Service]
Type=forking
ExecStart=/usr/sbin/lpjs_compd
PIDFile=/var/run/lpjs/lpjs_compd.pid
User=lpjs
Group=lpjs
Restart=on-abort

[Install]
WantedBy=multi-user.target
