[Unit]
Description=Lightweight, Portable Job Scheduler dispatch service
Documentation=man:lpjs_dispatchd(8)
Wants=network-online.target
After=network-online.target
After=time-sync.target
After=munge.service

[Service]
Type=forking
ExecStart=/usr/pkg/sbin/lpjs_dispatchd --daemonize
PIDFile=/usr/pkg/var/run/lpjs/lpjs_dispatchd.pid
RuntimeDirectory=lpjs_dispatchd
RuntimeDirectoryMode=0755
# FIXME: Probably shouldn't have to run dispatchd as root
User=root
Group=root
Restart=on-abort

[Install]
WantedBy=multi-user.target
