[Unit]
Description=Lightweight, Portable Job Scheduler dispatch service
Documentation=man:lpjs_dispatchd(8)
Wants=network-online.target
After=network-online.target
After=time-sync.target
After=munge.service

[Service]
Type=forking
# This is a temporary hack, since ExecStop fails to remove the pid file
ExecStartPre=/usr/bin/rm -f /usr/pkg/var/run/lpjs/lpjs_dispatchd.pid
ExecStart=/usr/pkg/sbin/lpjs_dispatchd --daemonize
PIDFile=/usr/pkg/var/run/lpjs/lpjs_dispatchd.pid
RuntimeDirectory=lpjs_dispatchd
RuntimeDirectoryMode=0755
User=lpjs
Group=lpjs
Restart=on-abort

[Install]
WantedBy=multi-user.target
