[Unit]
Description=Lightweight, Portable, Job Scheduler compute node service
Documentation=man:lpjs_compd(8)
After=network-online.target
After=time-sync.target
After=munge.service

[Service]
Type=forking
# This is a temporary hack, since ExecStop fails to remove the pid file
ExecStartPre=/usr/bin/rm -f /usr/pkg/var/run/lpjs/lpjs_compd.pid
ExecStart=/usr/pkg/sbin/lpjs_compd --daemonize
PIDFile=/usr/pkg/var/run/lpjs/lpjs_compd.pid
RuntimeDirectory=lpjs_compd
RuntimeDirectoryMode=0755
User=root
Group=root
Restart=on-abort

[Install]
WantedBy=multi-user.target
